<div class="container">

<h1>Hello!  Please create an account.</h1>

<form action="/users/create" method="post">
First name: <input type="text" name="first_name">
Last name: <input type="text" name="last_name">
Email: <input type="text" name="email">
Password: <input type="text" name="password">
                  <input type="submit" value="Create account!">
</form>

</div>
